*{
    color: rgb(2, 4, 119);
}
body{
    font-family: 'Gill Sans';
    background-color: steelblue;
}
header{
    text-align: center;
    text-transform: uppercase;
    color: rgb(2, 4, 119);
    background-color: rgb(96, 247, 96);
    text-decoration:underline;
    
    
}
p{
    background-color: rgb(255, 174, 0);
    font-weight: 900;
}
mark{
    background-color: rgb(255, 0, 234);
}